<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>1.1.1.1</key>
			<dict>
				<key>NSExceptionMinimumTLSVersion </key>
				<string>TLSv1.0</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
		<string>_https._tcp</string>
		<string>_ftp._tcp</string>
		<string>_ssh._tcp</string>
		<string>_telnet._tcp</string>
		<string>_smb._tcp</string>
		<string>_afpovertcp._tcp</string>
		<string>_nfs._tcp</string>
		<string>_workstation._tcp</string>
		<string>_airdrop._tcp</string>
		<string>_airplay._tcp</string>
		<string>_apple-mobdev2._tcp</string>
		<string>_adisk._tcp</string>
		<string>_time-machine._tcp</string>
		<string>_airport._tcp</string>
		<string>_device-info._tcp</string>
		<string>_services._dns-sd._udp</string>
		<string>_ipp._tcp</string>
		<string>_ipps._tcp</string>
		<string>_printer._tcp</string>
		<string>_pdl-datastream._tcp</string>
		<string>_scanner._tcp</string>
		<string>_raop._tcp</string>
		<string>_daap._tcp</string>
		<string>_dacp._tcp</string>
		<string>_spotify-connect._tcp</string>
		<string>_googlecast._tcp</string>
		<string>_bluetoothd2._tcp</string>
		<string>_btsync._tcp</string>
		<string>_distcc._tcp</string>
		<string>_webdav._tcp</string>
		<string>_rfb._tcp</string>
		<string>_remotemanagement._tcp</string>
		<string>_hap._tcp</string>
		<string>_presence._tcp</string>
		<string>_mqtt._tcp</string>
		<string>_coap._udp</string>
		<string>_peertalk._tcp</string>
		<string>_time._udp</string>
		<string>_timedate._udp</string>
		<string>_tcpchat._tcp</string>
		<string>_acp-sync._tcp</string>
		<string>_touch-able._tcp</string>
		<string>_airpod._tcp</string>
		<string>_teamviewer._tcp</string>
		<string>_vnc._tcp</string>
		<string>_sftp-ssh._tcp</string>
		<string>_octoprint._tcp</string>
		<string>_xbmc-jsonrpc._tcp</string>
		<string>_plexmediasvr._tcp</string>
		<!-- Used only by LocalNetworkPermissionGate.swift's Bonjour preflight
		     check (never advertised/browsed for any real device). -->
		<string>_mdnssharklnp._tcp</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
</dict>
</plist>
